<%= form_for(@team) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :supervisor_id, "Team Supervisor" %>
	<%= f.collection_select :supervisor_id, Employee.all, :id, :name %>
	<br>
		<h2>Add Team Members</h2>
		<% Employee.all.each do |employee| %>
			<%= check_box_tag("team[member_ids][]", <!-- #REV: kewl -->
												employee.id, <!--#REV: why's this all the way over here?!'-->
												@team.member_ids.include?(employee.id),
												:id => "#{employee.id}")
			%>
			<%= label_tag "#{employee.id}", employee.name %> <!-- you may want to make the id more unique i.e. concatenate some more descriptive words on there. right now it's just a number-->
		<% end %>
		<br>
		<br>
	<%= f.submit %> 
<% end %>
